<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Index</title>
        <link rel="stylesheet" href="../static/reset.css">
        <link rel="stylesheet" href="../static/positioning.css">
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>

        <div class="item item1" id="Obj1">

            <button id="opt-button">Option</button>

            <div id="div-quantity">
                <label class="quantity">Quantity</label>
                <input id="quantidade" class="quantity" type="text" placeholder="Type here">
            </div>

        </div>

        <div class="obj2">
            <select>
                <option value="" selected disabled hidden>Dropdown</option>
                <option value="A">A</option>
                <option value="B">B</option>
            </select>
        </div>

        <div class="item item2" id="Obj3">

            <ul class="container2">
                <li class="li itemx"><p class="li-text">Item A1</p></li>

                <li class="btn-pn">
                        
                    <button><</button>
                    <button>></button>

                </li>
            </ul>
        </div>
        
        <script src="../static/updateList.js"></script>
        <script src="../static/controller.js"></script>
    </body>
</html>